/*css para el login*/
.login-text{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: white;
}
.login-form{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  }
  .login-content{
    width: 201px;
  padding: 30px 51px;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73,
               2px 2px 5px rgba(94,104,121,0.288);
  }
  .text-content .text{
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #595959;
  }
  .field{
    height: 30px;
    width: 100%;
    display: flex;
    position: relative;
  }
  .field:nth-child(2){
    margin-top: 20px;
  }
  .field input{
    height: 100%;
    width: 100%;
    padding-left: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    background: #dde1e7;
    color: #595959;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #BABECC,
                inset -5px -5px 10px #ffffff73;
  }
  .field input:focus{
    box-shadow: inset 1px 1px 2px #BABECC,
                inset -1px -1px 2px #ffffff73;
  }
  .field span{
    position: absolute;
    color: #595959;
    width: 50px;
    line-height: 50px;
  }
  .field label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 45px;
    pointer-events: none;
    color: #666666;
  }
  .field input:valid ~ label{
    opacity: 0;
  }
  .login-content button{
    margin: 7px 0;
    width: 100%;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    font-weight: 600;
    background: #dde1e7;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #595959;
    box-shadow: 2px 2px 5px #BABECC,
               -5px -5px 10px #ffffff73;
  }
  button:focus{
    color: #3498db;
    box-shadow: inset 2px 2px 5px #BABECC,
               inset -5px -5px 10px #ffffff73;
  }
  .card {
   position: relative;
   background: #2a0e6b;
   width: 300px;
   height: 390px;
   overflow: hidden;
   padding: 10px;
   border-radius: 15px;
}
.card span:nth-child(1) 
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 10px;
   background: linear-gradient(to right, transparent,
   rgb(93, 30, 175));
   animation: animate_one 2s linear infinite;
}

@keyframes animate_one
{
   0%
   {
      transform: translateX(-100%);
   }
   100%
   {
      transform: translateX(100%);
   }
}

.card span:nth-child(2) 
{
   position: absolute;
   top: 0;
   right: 0;
   width: 10px;
   height: 100%;
   background: linear-gradient(to bottom, transparent,
   rgb(93, 30, 175));
   animation: animate_two 2s linear infinite;
   animation-delay: 1s ;
}

@keyframes animate_two
{
   0%
   {
      transform: translateY(-100%);
   }
   100%
   {
      transform: translateY(100%);
   }
}

.card span:nth-child(3) 
{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 10px;
   background: linear-gradient(to left, transparent,
   rgb(93, 30, 175));
   animation: animate_three 2s linear infinite;
}

@keyframes animate_three
{
   0%
   {
      transform: translateX(100%);
   }
   100%
   {
      transform: translateX(-100%);
   }
}

.card span:nth-child(4) 
{
   position: absolute;
   top: 0;
   left: 0;
   width: 10px;
   height: 100%;
   background: linear-gradient(to top, transparent,
   rgb(93, 30, 175));
   animation: animate_four 2s linear infinite;
   animation-delay: 1s;
}

@keyframes animate_four
{
   0%
   {
      transform: translateY(100%);
   }
   100%
   {
      transform: translateY(-100%);
   }
}
.register-text{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
.register-form{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  }
  .register-content{
    width: 201px;
  padding: 30px 51px;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73,
               2px 2px 5px rgba(94,104,121,0.288);
  }
  .text-content .text{
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #595959;
  }
  .field1{
    height: 30px;
    width: 100%;
    display: flex;
    position: relative;
  }
  .field1:nth-child(2){
    margin-top: 20px;
  }
  .field1 input{
    height: 100%;
    width: 100%;
    padding-left: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    background: #dde1e7;
    color: #595959;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #BABECC,
                inset -5px -5px 10px #ffffff73;
  }
  .field1 input:focus{
    box-shadow: inset 1px 1px 2px #BABECC,
                inset -1px -1px 2px #ffffff73;
  }
  .field1 span{
    position: absolute;
    color: #595959;
    width: 50px;
    line-height: 50px;
  }
  .field1 label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 45px;
    pointer-events: none;
    color: #666666;
  }
  .field1 input:valid ~ label{
    opacity: 0;
  }
  .register-content button{
    margin: 7px 0;
    width: 100%;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    font-weight: 600;
    background: #dde1e7;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #595959;
    box-shadow: 2px 2px 5px #BABECC,
               -5px -5px 10px #ffffff73;
  }
  button:focus{
    color: #3498db;
    box-shadow: inset 2px 2px 5px #BABECC,
               inset -5px -5px 10px #ffffff73;
  }
  .card1 {
    position: relative;
    background: #2a0e6b;
    width: 300px;
    height: 250px;
    overflow: hidden;
    padding: 15px;
    border-radius: 15px;
}

.card1 span:nth-child(1) 
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 10px;
   background: linear-gradient(to right, transparent,
   rgb(93, 30, 175));
   animation: animate_one 2s linear infinite;
}

@keyframes animate_one
{
   0%
   {
      transform: translateX(-100%);
   }
   100%
   {
      transform: translateX(100%);
   }
}

.card1 span:nth-child(2) 
{
   position: absolute;
   top: 0;
   right: 0;
   width: 10px;
   height: 100%;
   background: linear-gradient(to bottom, transparent,
   rgb(93, 30, 175));
   animation: animate_two 2s linear infinite;
   animation-delay: 1s ;
}

@keyframes animate_two
{
   0%
   {
      transform: translateY(-100%);
   }
   100%
   {
      transform: translateY(100%);
   }
}

.card1 span:nth-child(3) 
{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 10px;
   background: linear-gradient(to left, transparent,
   rgb(93, 30, 175));
   animation: animate_three 2s linear infinite;
}

@keyframes animate_three
{
   0%
   {
      transform: translateX(100%);
   }
   100%
   {
      transform: translateX(-100%);
   }
}

.card1 span:nth-child(4) 
{
   position: absolute;
   top: 0;
   left: 0;
   width: 10px;
   height: 100%;
   background: linear-gradient(to top, transparent,
   rgb(93, 30, 175));
   animation: animate_four 2s linear infinite;
   animation-delay: 1s;
}

@keyframes animate_four
{
   0%
   {
      transform: translateY(100%);
   }
   100%
   {
      transform: translateY(-100%);
   }
}
/*css para el app*/
.App {
  text-align: center;
  }
  .gradient-text {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: rgba(255, 255, 255, 0.8);
    font-size: 6em;
    line-height: 1;
    padding: 0 1rem;
  }
  .App .gradient-text{
    background: linear-gradient(to right, #ffaaee ,#ffccee );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    filter: drop-shadow( 2px 2px 2px black );
  }
.video-clase {
  height: 280px;
  width: 320px;
  }
  .App button{ 
    margin: auto;
    display: block;
    border: none;
    outline: 0;
    padding: 30px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #fafafa;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2), 0 6
    px 20px 0 rgba(0,0,0,.19);
    transition: all .3s ease-in-out;
    position: relative;
    overflow: hidden;
    will-change: transform;
    z-index: 1;
    font-size: 30px;
  }

.App button:before, .App button:after { 
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background: inherit;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.App button:hover:before, .App button:hover:after {  
  opacity: 1;
}

.App button:hover{ 
  transform: translateY(-7px);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1em + 2vmin);
  color: white;
  }

.App-link {
  color: #61dafb;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login{
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* styles.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}
/*css para la barra de busqueda*/
.search-bar {
  text-align: center; /* Centra el contenido horizontalmente */
  margin-top: 50px; /* Agrega margen superior para separar de la parte superior */
  margin-bottom: 50px;
}

.search-bar input {
  padding: 5px;
  margin-right: 10px;
  width: 450px; /* Ajusta el ancho según tus preferencias */
  height: 40px;
  border-radius: 10px;
  font-size: 30px;
}

/*css para las categorias*/
@property --rotate{
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
:root{
  --card-height:50vh;
  --card-width: 30vh;
}
.category-container{
  margin:0;
  background-image: transparent;
  display: flex;
  align-items:center;
  flex-wrap: wrap;
  gap: 1rem;
  }
  .categorias{
    position: relative;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    color: white;
}
/* Estilo para alinear la lista de elementos a la izquierda */
.item-list {
  text-align: left;
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 5px 5px;
  width: 140px;
  margin: 0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
/* Estilo para los elementos individuales en la lista */
.item-list li {
  margin-left: 0; /* Elimina cualquier margen izquierdo predeterminado */
  border-color:#40f1f1;
  border-style: groove;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  padding: 3px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px rgb(90, 160, 25),
  inset 0 0 0 1px rgb(90, 160, 255);
  transition: all 0.2s ease-out;
  }
  .item-list li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 1px rgb(90, 160, 25
    ),
    inset 0 0 0 1px rgb(90, 160, 255);
    transition: all 0.2s ease-out;
  }
/*css para los Juegos*/
.juegos{
  color: white;
  text-align: center;
  min-width: 50%;
}

.juego-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.juego-card{
  text-align: center;
  min-width: 325px;
  max-width: 325px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
.juego-card img{
  width: 310px;
  height: 310px;
}
.juego-card p{
  font-size: 30px;
}
.Window-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
/*css para las subcategorias*/
.subcategorias {
  list-style-type: none;
  padding-left: 5px;
  margin-top: 5px;
}

.subcategorias li {
  cursor: pointer;
}

.subcategorias li:hover {
  color: rgb(138, 14, 14); /* Cambia el color al pasar el ratón por encima */

} 